h1 {
        text-align: center;
        font-size: 30px;
        font-family: 'Arial', Helvetica, sans-serif;
}

.header {
        padding: 20px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 36px;
}

.body {
        padding: 20px;
        background: #f2f2f2;
        color: black;
        margin: 5px;
        width: 500px;
}

body {
        background-color: lightblue;
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        line-height: 1.6;
        /* background-image: url('images/background.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */

}


/*input number*/
input[type=number] {
        /*for absolutely positioning spinners*/
        position: relative;
        padding: 7px;
        padding-right: 10px;
        width: 100%;
        max-width: 300px;
}


/*removes arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}


/* removes arrows for Firefox */
input[type=number] {
        -moz-appearance: textfield;
}


/*button*/


#downloadButton {
        /* height: 100px;
        width: 100px; */
        padding: 15px 30px;
        border-radius: 10px;
        transition: opacity border-width 0.5s;
        margin: 40px;

}


#downloadButton:hover {
        border-width: 4px;
        opacity: 0.7;
}


#downloadButton:active {
        opacity: 0.5;
}

/* Buttons */
button,
input[type=submit] {
        background-color: #1abc9c;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

button:hover,
input[type=submit]:hover {
        background-color: #16a085;
}

#backgroundColor.form-control,
#shapelineColor.form-control,
#shapefillingColor.form-control {
        width: 200px;
}
/* #submitButton {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        transition: opacity 0.5s;
        margin: 40px;
}


#submitButton:hover {
        border-width: 4px;
        opacity: 0.7;
}


#submitButton:active {
        opacity: 0.5;
} */